body{
    background: #EAF2F8;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display:grid;
    grid-template-columns: 315px 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "navbar main main main"
    "navbar main main main"
    "navbar main main main";
}



header{
    font-size: 1.9em;
    font-weight: 800;
}

#navbar{
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 315px;
    border-right: 1px solid #555;
    height: 100%;
}

#navbar header{
    padding: 20px;
    justify-content: flex-start;
    text-align: center;
}


#navbar ul{
    height:100%;
    position: relative;
    overflow-y:auto;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #555;
}

.nav-link{
    text-decoration: none;
    display: block;
    padding: 10px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    color: black;
}


@media (max-width: 815px)  {
    #navbar{
        position: static;
        width: 100%;
        height: 300px;
    }
    body{
        grid-template-areas:
        "navbar navbar navbar navbar"
        "main  main main main"
        "main  main main main";
    }
}

header{
    font-size: 1.9em;
}

code{
    background-color: #FBFCFC;
    display: block;
    white-space: pre;
    line-height: 1.5;
    padding:15px;
    margin:10px;
    width: 100%;
}

#main-doc{
    height: 100%;
    grid-area: main;
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.main-section{
    padding: 20px;
    text-align: justify;
    line-height: normal;
}
